# ignore everything …
*
# … except the scripts directory …
!/scripts/
# … and everything inside it
!/scripts/**
# (and, of course, don’t ignore your .gitignore itself)
!/.gitignore
# allow our versioning files
!/.bumpversion.cfg
!/VERSION
